body {
  margin: 0px;
}

header {
  height: 80px;
  background-color: blue;
}

.wrap {
  display: flex;
}


.contain {
  height: 500px;
  width: 100%;
  background-color: yellow;
}

.topimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  height: 100px;
  background-color: brown;
}