body {
  margin: 0px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #5A3920;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  color: white;
  
  margin: auto 5px;
}

.menu {
  display: flex;
}

.menu p {
  margin: auto 5px;
  color: white;
}

.content {
  width: 100%;
}

.wraptopimage {
  width: 100%;
  height :500px;
}

.topimage {
  width :100%;
  height: 100%;
  object-fit: cover;
}

article {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.wrapboxs {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 100px 0;
}

.box{
  width: 250px;
  height: 250px;
  background-color: #8CA6B5;
}

.box p {
  color: #FFFFFF;
  margin: 3rem;
}

.box img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.wrapbookandform {
  display: flex;
  padding: 50px 0;
}

.wrapbooks {
  width: 50%;
  margin: 0;
}

.wrapbooks table th, .wrapbooks table td {
  padding: 5px;
}

.wrapbooks table th {
  text-align: right;
}

.title {
  font-size: 20px;
}

form table {
  border-collapse:  collapse; 
}

form table th, form table td {
  border: solid 1px black;
  padding: 5px;
}

form table th {
    text-align: right;
}

footer  {
  width: 100%;
  height: 100px;
  background-color: #6D7376;
  text-align: center;
}

footer p {
  color: #FFFFFF;
  height: 100px;
  line-height: 100px;
}