.boxes{
  display: flex;
  justify-content: center;
}

.box1 {
  height: 250px;
  width: 250px;
  background-color: blue;
  margin: 5px;
}

.box2 {
  height: 200px;
  width: 200px;
  background-color:yellow;
  margin: 5px;
}

.box3 {
  height: 150px;
  width: 150px;
  background-color: green;
  margin: 5px;
}