body {
  margin: 0px;
}

header {
  height: 80px;
  background-color: blue;
}

.wrap {
  display: flex;
}

.side {
  height: 500px;
  width: 30%;
  background-color: green;
}

.contain {
  height: 500px;
  width: 70%;
  background-color: yellow;
}

footer {
  height: 100px;
  background-color: brown;
}

table {
  border-collapse:  collapse; 
}


th,td {
  border: solid black;
  margin: 10px;
}

